@import vars
body
    font-weight: 400
    font-style: normal
    line-height: 1.4em
    position: relative
    cursor: default
    font: 1em $typesafe-fonts
    color: $lb-slate-dkr
    font-smoothing: antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-font-size-adjust: none
    text-rendering: optimizeLegibility
h1
    font-family: inherit
    font-size: 2.6em
    font-weight: 300
    color: $lb-slate-dkr
    margin-bottom: 0.4em
    margin-top: 1.1em
    @media only screen and (max-width: $medium)
        font-size: 2em
    &:first-child
        margin-top: 0
h2
    font-family: inherit
    font-size: 1.8em
    margin-bottom: 0.2em
    margin-top: 1.3em
    font-weight: 500
    color: $lb-slate-dkr
    &:first-child
        margin-top: 0
h3, .panel h3
    font-family: inherit
    font-size: 1.125em
    font-weight: 700
    margin-top: 1.3em
    color: $lb-slate-dkr
    &:first-child
        margin-top: 0
h4
    font-family: inherit
    font-size: 1em
    font-weight: 700
    margin-top: 1.3em
    color: $lb-slate-dkr
    &:first-child
        margin-top: 0
h5
    font-family: inherit
    font-size: 1em
    margin-top: 1.3em
    color: $lb-slate-dkr
    &:first-child
        margin-top: 0
h6
    font-family: inherit
    font-size: 1em
    margin-top: 1.3em
    color: $lb-slate-dkr
    &:first-child
        margin-top: 0

p
    font-family: inherit
    font-size: 1em
    line-height: 1.45em
    margin: 1em 0em
    color: $lb-slate-dkr
a
    font-family: inherit
    color: $lb-blue-dkr
    text-decoration: none
    cursor: pointer
    outline: none
    &:link
        color: $lb-blue-dkr
        outline: none
    &:visited
        color: $lb-blue-dkr
        outline: none
    &:hover
        color: $lb-blue-dkr
        text-decoration: underline
        outline: none
    &:active
        color: $lb-blue-dkr
        outline: none

h1 a, h2 a
    font-family: inherit
    color: $lb-slate-dkr
    text-decoration: none
    cursor: pointer
    &:link
        color: $lb-slate-dkr
    &:visited
        color: $lb-slate-dkr
    &:hover
        color: $lb-blue-dkr
        text-decoration: none
    &:active
        color: $lb-slate-dkr

pre
    padding: 0.5rem 1rem !important
    border: 1px solid $grey-code-dkr !important
    -webkit-border-radius: 5px !important
    border-radius: 5px !important
    background: $grey-code !important
    margin: 0 0 1rem 0 !important

code
    line-height: 1.45em  !important
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, monospace  !important
    font-size: 0.85em !important
    padding: 0 !important

pre > code
    background: none
    border: none

p > code
    border: 1px solid $grey-code-dkr
    -webkit-border-radius: 3px
    border-radius: 3px
    background: $grey-code-ltr
    padding: 0.0625rem 0.25rem

blockquote
    background: $grey-code
    border-left: 10px solid $lb-orange
    margin: 1.5em 0
    padding: 1em 20px

blockquote:before
    color: $lb-orange
    font-size: 4em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.4em

blockquote p
    display: inline
    color: $lb-slate-dkr
    font-style: italic