.row
    max-width: site-max-width
.row .row
    margin-left: - gutter-width
    margin-right: - gutter-width

.column,
.columns
    padding-left: gutter-width
    padding-right: gutter-width

@media only screen
    .column,
    .columns
        padding-left: gutter-width
        padding-right: gutter-width

@media $medium
    .column,
    .columns
        padding-left: gutter-width
        padding-right: gutter-width

@media $large
    .column,
    .columns
        padding-left: gutter-width
        padding-right: gutter-width

body
    background: navy
    padding: 0
    margin: 0
    font-weight: 400
    font-style: normal
    line-height: 1
    position: relative
    cursor: default
    font: 16px typesafe-fonts
    color: navy
    font-smoothing: antialiased
    -webkit-font-size-adjust: none
    text-rendering: optimizeLegibility

.fw-wrapper
    padding: 60px 0px
    &.flush
        padding: 0
    &.flush-top
        padding: 0 0 60px 0
    &.flush-bottom
        padding: 60px 0 0 0
    &.grey
        background-color: grey
    &.slate
        background-color: slate
        h1,h2,h3,h4,p,a
            color: white
    &.slate-dkr
        background-color: slate-dkr
        h1,h2,h3,h4,p,a
            color: white
    &.slate-ltr
        background-color: slate-ltr
        h1,h2,h3,h4,p,a
            color: white
    &.slate-tt
        background-color: slate-tt
        h1,h2,h3,h4,p,a
            color: white
    &.white-ltr
        background-color: white-ltr
    &.white-dkr
        background-color: white-dkr
    &.teal-blue
        background-color: teal-blue
        h1,h2,h3,h4,p,a
            color: white
    &.blue
        background-color: blue
        h1,h2,h3,h4,p,a
            color: white
    &.blue-dkr
        background-color: blue-dkr
        h1,h2,h3,h4,p,a
            color: white
    &.red
        background-color: red
        h1,h2,h3,h4,p,a
            color: white
    &.navy
        background-color: navy
        box-shadow: inset 0 -3px 0 rgba(black,.1)
        h1,h2,h3,h4,p,a
            color: white
    &.shadow
        box-shadow: inset 0 -3px 0 rgba(black,.1)
    &.shadow-dark
        box-shadow: inset 0 -3px 0 rgba(black,.2)
    &.play
        background-color: play-green
        h1,h2,h3,h4,p,a
            color: white
    &.playday
        border-top: 6px play-dkr solid
    &.akka
        background-color: akka-blue
        h1,h2,h3,h4,p,a
            color: white
    &.scala
        background-color: scala-red
        h1,h2,h3,h4,p,a
            color: white

body > header
    background: white
    margin: 0px 0 5px 0
    height: 75px
    border-top: 5px solid navy
    position: fixed
    display: block
    width: 100%
    z-index: 9999
    box-shadow: 0 0 8px rgba(black,.5)
    &.fw-wrapper
        padding: 0
    .logo .svg-icon-conductr-logo
        height: 50px
        width: 147px
        margin: 8px 0 0 0
    nav
        float: right
        border-right: 1px solid white-dkr
        zoom: 1
        a
            display: block
            float: left
            height: 70px
            line-height: 70px
            padding: 0 30px
            color: navy
            border-left: 1px solid white-dkr
            font-weight: bold
            font-stretch: condensed
            letter-spacing: -.03em
            font-size: 14px
            transition: all 150ms ease-in-out
            text-transform: uppercase
            &:link, &:visited
                color: navy
            &:hover
                background: rgba(white-ltr,0.2)
                box-shadow: inset 0 4px 0 navy,inset 0 0 1px grey-ltr
                transition: all 150ms ease-in-out
                text-decoration: none
            &:active
                color: navy

.page-title
    min-height: 120px
    padding: 90px 0 20px 0
    h3
        color: white
        font-size: 1.4em
        margin: 0
        font-weight: 400
        text-transform: uppercase

.page-content
    background: white-ltr
    min-height: 600px

aside.toc
    padding: 20px 20px 20px 40px
    background: linear-gradient(left,0% white-ltr,5% white);
    box-shadow: shadow
    border-radius: br
    border: 1px solid white-dkr
    border-bottom: 3px solid white-dkr
    h3, h3 a
        color: navy
        &:hover
            text-decoration: none
            color: blue-text
        &.active
            color: blue-text
    ul
        li
            list-style-type: none

body > footer
    color: white