@(b: Html, toolbar: Html, toc: Html, version: String)

@scripts = {
    <script>
        jQuery.noConflict();
            (function($) {
              $(function() {
                //add active states to menus
                var pathArray = location.pathname.split('/');
                var link = pathArray[pathArray.length - 1];
                $('#toc a[href="' + link + '"]').addClass('active');
              });
        })(jQuery);
    </script>

    <!-- Code syntax highlighter -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
    <script type="text/javascript">
        docsearch({
            apiKey: "8ab174002b48bc8345a32ac0ca116bb1",
            indexName: "lightbend-conductr",
            inputSelector: "#search-box",
            algoliaOptions: {
               facetFilters: ["version:@version"]
            }
        })
    </script>
}

@main("ConductR - A Reactive Application Manager for Operations", Some(toc), additionalScripts = Some(scripts)) {

    <div class="fw-wrapper page-content">
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">
                @b
            </div>
            <div class="medium-4 large-3 hide-for-small-only columns">
                <div id="sidebar">
                    <aside>
                        <nav id="search">
                            <input type="text" id="search-box" placeholder="Search">
                        </nav>
                        @toolbar
                        <div id="toc">
                            @toc
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
}
