@(b: Html, toolbar: Html, toc: Html)

@scripts = {
    <script>
        jQuery.noConflict();
            (function($) {
              $(function() {
                //add active states to menus
                var pathArray = location.pathname.split('/');
                var link = pathArray[pathArray.length - 1];
                $('#toc a[href="' + link + '"]').addClass('active');
              });
        })(jQuery);
    </script>

    <!-- Code syntax highlighter -->
    <script src="@routes.Assets.at("lib/prettify/run_prettify.js")"></script>
}

@main("ConductR - A Reactive Application Manager for Operations", Some(toc), additionalScripts = Some(scripts)) {

    <div class="fw-wrapper page-content">
        <div class="row">
            <div class="small-12 medium-8 large-9 columns">
                @b
            </div>
            <div class="medium-4 large-3 hide-for-small-only columns">
                <div id="sidebar">
                    <aside>
                        @toolbar
                        <div id="toc">
                            @toc
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
}