@()

@main("ConductR - A Reactive Application Manager for Operations") {

    <div class="fw-wrapper page-content">
        <div class="row">
            <div class="small-12">
                <h1>Managing microservices with the "batteries included"</h1>

                <p>Distributed systems are required for microservices and they can benefit a business greatly given their potential
                    for increased availability.
                    However writing distributed systems is hard and managing them is even harder.
                    When you can no longer name your machines or count them on one hand then you need something to help you.

                <p>ConductR is a "batteries included" approach to managing distributed systems.
                No more cobbling together of service gateways, service locators, consolidated logging, monitoring and so forth.
                All of these essential items and more are included with ConductR. In fact we want ConductR to be to operations
                what Play and Lagom are to developers; we want operations to be productive so that they can concentrate on keeping
                their business customers happy.

                <p>ConductR is also the easiest way to manage Akka cluster based applications, and laser-focused on ensuring that
                    Lightbend Reactive Platform applications can be managed with ease. ConductR guides you regarding distributed
                    concerns when embarking on developing a project; not as an after-thought when you near that release deadline.

                <p>Please refer to the <a href="https://www.lightbend.com/product/conductr/developer">getting started page</a>
                if you simply want to download ConductR and have it run on your local machine for non-production purposes. Otherwise
                head on over to the <a href="@routes.Application.renderDocsHome("")">documentation</a> in order to find out
                all that you need to know.

                <p>Welcome to ConductR,
                <br/>The Global ConductR Team
            </div>
        </div>
    </div>
}
