@(title: String, toc: Html)(content: Html)

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<html>
    <head>
        <meta charset="utf-8">
        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@routes.Assets.at("css/main.css")">
        <script src="@routes.Assets.at("lib/modernizr/modernizr.js")"></script>
        <link rel="shortcut icon"  href="@routes.Assets.at("images/favicon.ico")">
    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <!-- Off Canvas Menu -->
                <div class="left-off-canvas-menu">
                    <div class="canvas-menu-wrap toc-wrapper">
                        @toc
                        @mainNav(false)
                    </div>
                </div>
                <header id="site-header" class="fw-wrapper">
                    <div class="row">
                        <div class="small-12 columns">
                            <a class="left-off-canvas-toggle show-for-small-only" href="#" >
                                @svg.menu()
                            </a>
                            <a href="#" class="logo">
                                @conductr.svg.conductrFullColor()
                                <span class="beta">BETA</span>
                            </a>
                            <nav class="hide-for-small-only">
                                @mainNav(true)
                            </nav>
                        </div>
                    </div>
                </header>
                <div class="page-title">
                    <div class="row">
                        <div class="small-12 columns">
                        </div>
                    </div>
                </div>

                @content

                <div class="fw-wrapper white-ltr flush-top">
                    <div class="row">
                        <div class="small-12 medium-7 large-8 columns">
                            <div id="next-prev-nav" class="next-prev-nav">
                                <p>NEXT: <a href="" id="nextLink" class=""></a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <footer id="site-footer" class="fw-wrapper">
                    <div class="row">
                        <div class="small-12 medium-8 columns footer-toc toc-wrapper">
                            <span id="footerTOC" >@toc</span>
                            @mainNav(false)
                        </div>
                        <div class="small-12 medium-4 columns text-right logo-copyright">
                            &copy; 2015 &ndash; <a href="http://www.typesafe.com">@svg.typesafeColorReverse()</a>
                        </div>
                    </div>
                </footer>
                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"></a>
            </div>
        </div>
    </body>
    <script src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
    <script src="@routes.Assets.at("lib/fastclick/fastclick.js")"></script>
    <script src="@routes.Assets.at("lib/foundation/js/foundation.min.js")"></script>
    <script>
        jQuery.noConflict();
            (function($) {
              $(function() {
                //init foundation
                $(document).foundation();
                //add active states to menus
                var p = location.pathname;
                $('.toc-wrapper a[href="' + location.pathname + '"]').addClass('active');
                //next links - capture toc/URLs for links
                var elements = $('#footerTOC a'),
                    elength = elements.length,
                    current = elements.filter('.active'),
                    index = elements.index(current),
                    next = index + 1;
                //hide for last page, build out next link otherwise
                if(next == elength){
                    next = 0;
                    $('#next-prev-nav').hide();
                } else {
                    $('#nextLink').attr('href', $(elements[next]).attr('href')).html($(elements[next]).text());
                };
              });
        })(jQuery);
    </script>
</html>
